---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oleg Gordienko – Front End Developer</title>
    <meta name="author" content="Oleg Gordienko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Design -->
    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="assets/main2.css" async>
    <link rel="stylesheet" href="assets/font-icons.css" async>

    <!--[if (IE 9)]>
    <script src="//cdn.jsdelivr.net/classlist/2014.01.31/classList.min.js"></script>
    <![endif]-->
</head>
<body class="vcard" itemscope itemtype="http://schema.org/Person">
    <!--[if lte IE 8]>
    <script>document.body.innerHTML = '<h1 style="text-align:center">Please update you browser</h1>'</script>
    <![endif]-->
    <nav class="pages-navigation">
        <div class="row">
            <div class="medium-8 small-12 columns">
            </div>
            <div class="medium-4 small-12 columns">
                <a href="#intro">Intro</a>
                <a href="#works">Works</a>
                <a href="#contact">Contact</a>
                <span class="hack">&nbsp;</span>
            </div>
        </div>
    </nav>

    <header id="intro" class="slide intro">
        <hgroup>
            <span class="nickname" itemprop="nickname">Gordio</span>
            <h1 class="name fn" itemprop="name">
                <a href="http://twitter.com/gordioua">Oleg Gordienko<i class="icon-twitter2 fn-twitter"></i></a>
            </h1>
            <h4 class="prof role" itemprop="title">
                Front End <mark>Developer</mark>
            </h4>
        </hgroup>
    </header>

    <section id="works" class="slide portfolio">
        <section class="row">
            <div class="medium-12 small-12 columns">
                <h1 class="slide-title">What I Do</h1>
            </div>
            {% for work in site.data.works %}
            <div class="medium-4 small-12 columns">
                <figure class="work">
                    <img src="/images/works/{{ work.image }}.jpg" alt="Screenshot: {{ work.title }}"
                    srcset="/images/works/{{ work.image }}.jpg 640w, /images/works/{{ work.image }}@x2.jpg 1280w">
                    <figcaption>
                        <p>{{ work.description }}{% if work.link %}<a class="more" href="{{ work.link }}">View »</a>{% endif %}</p>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </section>
    </section>

    <footer id="contact" class="slide contact">
        <div class="wrap">
            <div class="row">
                <div class="medium-12 small-12 columns">
                    <h1 class="slide-title">Write message</h1>
                </div>

                <div class="medium-8 small-12 columns">
                    <div class="js-contact-status status_message"></div>
                    <form class="js-contact-form contact-form" action="/contact.php" method="POST">
                        <input name="name" type="text" placeholder="Name" pattern="\w+ \w+.*" required>
                        <input name="email" type="email" placeholder="Email" required>
                        <textarea name="message" cols="30" rows="5" placeholder="Message" required></textarea>
                        <div class="buttons">
                            <input type="submit" value="Send message">
                        </div>
                    </form>
                </div>
                <div class="medium-4 small-12 columns">
                    <ul class="contacts">
                        <li><a href="http://twitter.com/gordioua" class="icon-twitter">Twitter</a></li>
                        <li><a href="https://facebook.com/gordioua" class="icon-facebook">Facebook</a></li>
                        <li><a href="https://plus.google.com/u/0/108016109141914573964/posts" class="icon-googleplus">+Google</a></li>
                        <li><a href="http://ua.linkedin.com/in/gordio/" class="icon-linkedin">LinkedIn</a></li>
                        <li><a href="mailto:work@gordio.pp.ua" class="icon-mail">Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/navigator.js"></script>
    <script>
        Navigator('.pages-navigation a');
    </script>
    <script src="assets/pages.js"></script>

    <!-- Yandex.Metrika counter -->
    <div style="display:none;">
        <script type="text/javascript">
            (function(w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter11936827 = new Ya.Metrika({id:11936827, enableAll: true, webvisor:true});
                    }
                    catch(e) { }
                });
            })(window, "yandex_metrika_callbacks");
        </script>
    </div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><img src="//mc.yandex.ru/watch/11936827" style="position:absolute; left:-9999px;" alt=""></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
