.pages-navigation {
    z-index: 255;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1em 0;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pn-list {
    display: table;

    a {
        display: table-cell;
        text-align: center;
        padding: 0.25em 0.5em;
        color: #FFF;
        font-weight: 800;
        text-decoration: none;
        text-shadow: 0 1px 0.125em #000;

        -webkit-transition: color 0.25s linear;
        transition: all 0.25s linear;

        &:hover,
        &:is-active {
            color: $primary-color;
            text-decoration: none;
        }

        &.is-active {
            color: $primary-color;
            text-shadow: 0 1px 0 rgba(200, 200, 200, 0.5);
        }
    }
    a:first-child {
        text-align: left;
    }
    a:last-child {
        text-align: right;
    }
}
