.slide {
    min-height: 100vh;
    overflow: hidden;

    &-title {
        display: inline-block; /* fix margin top "overflow" */
        width: 100%;
        color: #222;
        border-bottom: 0.07em solid rgba(200, 200, 200, .25);
        text-shadow: 0 1px 1px #FFF;
    }
}
