<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/blog.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>
    <div class="content-wrap">
        <nav class="page-nav">
            <a href="/">« Back to Site</a>
        </nav>

        <section class="page">
            {{ content }}
        </section>
    </div>

    <script src="/assets/highlight.pack.js"></script>
    <script src="/assets/highlight.init.js"></script>
    <script src="/assets/hyphenator.js"></script>
    <script src="/assets/hyphenator.init.js"></script>
    <script src="/assets/patterns/en-us.js"></script>
</body>
</html>
